body {
    width: 100%;
    height: 100%;
    font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
    color: rgba(255, 248, 248, 0.975);
    background-image: url(../img/feelthenoize.png);
    background-color: #1B1B1B;
}

html {
    width: 100%;
    height: 100%;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0 0 35px;
    font-family: Helvetica, Arial, sans-serif;
    font-weight: 700;
    letter-spacing: 1px;
}

p {
    margin: 0 0 25px;
    font-size: 1em;
    line-height: 1.5;
}

@media(min-width:768px) {
    p {
        margin: 0 0 35px;
        font-size: 1.1em;
        line-height: 1.6;
    }
}

a {
    color: #8CD867;
    -webkit-transition: all .2s ease-in-out;
    -moz-transition: all .2s ease-in-out;
    transition: all .2s ease-in-out;
}

a:hover,
a:focus {
    text-decoration: none;
    color: rgba(140, 216, 103, 0.8);
}

section {
    max-width: 100%;
}

#intro::before {
    content: "";
    background: url(../img/dgs-bg.png) no-repeat center scroll;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
    
    width: 100%;
    height: 100vh;
    position: absolute;
    
    -webkit-filter: blur(7px); /* Safari */
    filter: blur(7px);
}

#intro {
    display: table;
    width: 100%;
    height: 100vh;
    padding: 100px 0;
    text-align: center;
}

#intro .intro-body {
    display: table-cell;
    vertical-align: middle;
}

#intro .intro-body .brand-heading {
    font-size: 40px;
}

#intro .intro-body .intro-text {
    font-size: 18px;
}

#about p.left-align {
    text-align: left;
}

@media(min-width:768px) {
    #intro {
        height: 100%;
        padding: 0;
    }

    #intro .intro-body .brand-heading {
        font-size: 72px;
    }

    #intro .intro-body .intro-text {
        font-size: 26px;
    }
}

.content-section {
    padding-top: 100px;
    min-height: 100vh;
}

@media(max-width:767px) {
    section {
        padding: 75px 0;
    }
    
    .container {
        padding-left: 30px;
        padding-right: 30px;
    }
}

.button {
    -webkit-transition: all .2s ease-in-out;
    -moz-transition: all .2s ease-in-out;
    transition: all .2s ease-in-out;
    color: #8CD867;
    opacity: 1.0;
    background-color: transparent;
}

@media(min-width:768px) {
    .button:hover,
    .button:focus {
        -moz-transform: scale(1.1, 1.1);
        -webkit-transform: scale(1.1, 1.1);
        transform: scale(1.1, 1.1);
        opacity: 1.0;
        background-color: transparent;
    }
}

.button:active {
    -moz-transform: scale(0.9, 0.9);
    -webkit-transform: scale(0.9, 0.9);
    transform: scale(0.9, 0.9);
    opacity: 0.5;
    background-color: transparent;
}

.bold {
    font-weight: bold;
}

footer {
    padding: 30px 0;
    border-top: 1px solid rgba(255, 255, 255, 0.1);
    background-color: rgba(0, 0, 0, 0.3);
}

#footerWpIcon {
    color: #1B1B1B;
    font-size: 1.4em;
}

::-moz-selection {
    text-shadow: none;
    background: #fcfcfc;
    background: rgba(255, 255, 255, 0.2);
}

::selection {
    text-shadow: none;
    background: #fcfcfc;
    background: rgba(255, 255, 255, 0.2);
}

img::selection {
    background: 0 0;
}

img::-moz-selection {
    background: 0 0;
}
